---
import { Button } from '../ui/button';

export interface Props {
  href: string;
  text: string;
  className?: string;
  variant: 'primary' | 'secondary';
}

const { href, text, className, variant } = Astro.props;
---

<a href={href}>
  <Button className={className}>
    {text}
  </Button>
</a>
