---
import Container from '../shared/Container.astro';
import Title from '../shared/Title.astro';
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Technologies we use</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/node.jpg"
          width="100"
          height="60"
          alt="node"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/go.png"
          width="100"
          height="60"
          alt="go"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/java.png"
          width="100"
          height="60"
          alt="java"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/springboot.png"
          width="100"
          height="60"
          alt="springboot"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/typescript.jpg"
          width="100"
          height="60"
          alt="typescript"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/react.png"
          width="100"
          height="60"
          alt="react"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/docker.png"
          width="100"
          height="60"
          alt="docker"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/kubernetes.png"
          width="100"
          height="60"
          alt="kubernetes"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/vercel.jpg"
          width="100"
          height="60"
          alt="vercel"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/hashicorp.png"
          width="100"
          height="60"
          alt="spotify"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/aws.jpg"
          width="100"
          height="60"
          alt="aws"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
      <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
        <img
          src="/images/technologies/swift.png"
          width="100"
          height="60"
          alt="swift"
          class="h-7 sm:h-10 w-auto ease-linear duration-300 group-hover:scale-105"
        />
      </div>
    </div>
  </Container>
</section>
