---
import CompanyCarousel from '../actions/CompanyCarousel';
import Container from '../shared/Container.astro';
---

<section class="relative mt-12 md:mt-16">
  <CompanyCarousel client:load />
</section>
